<div class="col-xs-10 col-xs-offset-1 about">
    <h1>About Splurty</h1>

    <p>
        This version of splurty was made by <a href="https://github.com/vinvasir/">Prateek Vasireddy</a>, a nonprofit lawyer and novice web developer. 
    </p>

    <div class="col-xs-12 col-sm-4">
        <%= image_tag 'Prateek.jpg', class: 'img-responsive' %>
    </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />