@font-face {
    font-family: 'questaregular';
    src: url('/assets/fonts/2-Questa_Regular-webfont.eot');
    src: url('/assets/fonts/2-Questa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/2-Questa_Regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/2-Questa_Regular-webfont.woff') format('woff'),
         url('/assets/fonts/2-Questa_Regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/2-Questa_Regular-webfont.svg#questaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'questa_granderegular';
    src: url('/assets/fonts/QuestaGrande/2-questa_grande_regular_31-webfont.eot');
    src: url('/assets/fonts/QuestaGrande/2-questa_grande_regular_31-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/QuestaGrande/2-questa_grande_regular_31-webfont.woff2') format('woff2'),
         url('/assets/fonts/QuestaGrande/2-questa_grande_regular_31-webfont.woff') format('woff'),
         url('/assets/fonts/QuestaGrande/2-questa_grande_regular_31-webfont.ttf') format('truetype'),
         url('/assets/fonts/QuestaGrande/2-questa_grande_regular_31-webfont.svg#questa_granderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}